<!-- Форма добавления и редактирования сервисов -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Service Editor </title>
  <!-- My CSS File -->
  <!-- <link rel="stylesheet" href="http://localhost:4567/service_regexp.css"></head> -->
  <!-- JQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <!-- <link rel="icon" href="http://openplatform.online/favicon.ico?v=2" > -->
  <!-- Vue.js, Axios and Lodash -->
  <script src="js/vue.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <!-- teleport view -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <!-- Bootstrap container -->
    <div class="container" id="app">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1> Редактор сервисов </h1>
          <p class="lead"> Это форма для добавления сервисов </p>
          <!-- We're going to place the form here in the next step -->
          <form action="#" role="form">
            <div class="controls">
              <div id="messages">
                <div :class="message_classes">
                  <strong>{{message_head}}</strong> {{message_text}}
                </div>
              </div>
              <!-- Группа сервисов -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="current_group"> Группа сервисов </label>
                    <select name="current_group" id="current_group" v-model="current_group" class="form-control">
                      <option :value="group" v-for="group in all_groups">{{group.service_group}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Название группы -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="current_group_name"> Название группы </label>
                    <input type="text" name="current_group_name" id="current_group_name" v-model="current_group_name" placeholder="Название группы сервисов" class="form-control">
                  </div>
                </div>
              </div>
              <!-- Регулярное выражение -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="current_group_regex"> Регулярное выражение </label>
                    <input type="text" name="current_group_regex" id="current_group_regex" v-model="current_group_regexp" placeholder="Регулярное выражение" class="form-control"
                    style="font-size: larger;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-send" @click.prevent="postService">{{button_text}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-lg-8 col-lg-offset-2">
          <!-- строки, подходящие под запрос -->
          <table class="table table-hover">
            <!-- table body -->
            <tbody>
              <tr v-for="service in services">
                <td>{{service}}</td>
                <td> 
                  <a href="#" @click="escapeAndChange(service); current_group_name = service;">Add as template</a> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- My script -->
    <script src="http://localhost:4567/service_regexp_new.js"></script>
  </body>
</html>